<h1>メモ一覧</h1>
<ul>
  <% @memos.each do |memo| %>
    <li><a href="/memos/<%= memo[:id] %>"><%= h(memo[:title]) %></a></li>
  <% end %>
</ul>
<button onclick="location.href='/new-memo'">メモ新規追加</button>
