<h1> メモ詳細🍑</h1>
<h2>
<%= @memo[:title]%>
</h2>

<h2>
<%= @memo[:content]%>
</h2>

<button onclick="location.href='/'">トップページ</button>
<button onclick="location.href='/memos/<%= @memo[:id] %>/edit'">編集</button>